html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #121212;
  font-family: Arial, Helvetica, sans-serif;
}

.main-container {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 768px) {

  .navbar {
    flex-direction: column;
    gap: 20px;
  }

  .hero-title {
    font-size: 48px;
  }

  .hero-description {
    font-size: 18px;
  }

  .projects-container {
    justify-content: center;
  }

}

.projects-section h2,
.tech-section h2 {
  color: white;
  font-size: 40px;
  margin-bottom: 30px;
}

.projects-section {
  padding: 40px;
}

.projects-section h2 {
  color: white;
  margin-bottom: 20px;
}

.projects-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.tech-section {
  padding: 40px;
}

.tech-section h2 {
  color: white;
  margin-bottom: 20px;
}

.tech-container {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.tech-container span {
  background-color: #1e1e1e;
  color: white;

  padding: 10px 20px;

  border-radius: 999px;

  border: 1px solid #2c2c2c;
}

.about-section {
  padding: 40px;

  color: white;
}

.about-section h2 {
  font-size: 40px;

  margin-bottom: 24px;
}

.about-section p {
  color: #cfcfcf;

  line-height: 1.8;

  max-width: 900px;

  margin-bottom: 20px;

  font-size: 18px;

  margin: 0 auto 20px;
}

.education-section {
  padding: 40px;

  color: white;
}

.education-card {
  background-color: #1e1e1e;

  padding: 24px;

  border-radius: 16px;

  margin-bottom: 20px;

  border: 1px solid #2c2c2c;

  transition: 0.3s;
}

.education-card:hover {
  border-color: #8b5cf6;

  transform: translateY(-3px);
}

.education-card h3 {
  margin-top: 0;
}

.education-card p {
  color: #cfcfcf;
}