* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #121212;
  font-family: Arial, Helvetica, sans-serif;
}

.main-container {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 768px) {

  .navbar {
    flex-direction: column;
    gap: 20px;
  }

  .hero-title {
    font-size: 48px;
  }

  .hero-description {
    font-size: 18px;
  }

  .projects-container {
    justify-content: center;
  }

}

.projects-section h2,
.tech-section h2 {
  color: white;
  font-size: 40px;
  margin-bottom: 30px;
}

.projects-section {
  padding: 40px;
}

.projects-section h2 {
  color: white;
  margin-bottom: 20px;
}

.projects-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.tech-section {
  padding: 40px;
}

.tech-section h2 {
  color: white;
  margin-bottom: 20px;
}

.tech-container {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.tech-container span {
  background-color: #1e1e1e;
  color: white;

  padding: 10px 20px;

  border-radius: 999px;

  border: 1px solid #2c2c2c;
}